// Customize the colors of Octoflat Here


$primary-color:      #b58900; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #e69411; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #6c71c4; // Hover-over color, Active Page color
$accent-color1:      #eee8d5; // Hover-over background color for tags
$accent-color2:      #34495E; // Sub-headings, Date Stamp
$accent-color3:      #ffffff; // Navbar Text, Tag text
$bg-color:           #ffffff; // Background
$navbar-color:       #586e75; // Navbar
$code-bg-color:      #073642; // Code background
$quote-color:        #268bd2; // Quote Color
$text-color:         #5a5e5f; // Body Text
$footer-color:       #7F8C8D; // Footer

